<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/headers :: headers}"></th:block>
    <title>LuckPerms Группы</title>
  </head>

  <body>
    <div th:replace="~{fragments/navigation :: navbar}"></div>

    <div class="ui main container">
      <div class="ui six cards">
        <th:block th:each="item : ${items}">
          <div class="card">
            <div class="content">
              <a class="header" th:text="${item.name}"
                                th:href="@{/group_permissions/{name} (name=${item.name})}">
              </a>
              <div class="description">
                <span th:text="${#lists.size(item.permissions)}"></span>
                записей
              </div>
            </div>
          </div>
        </th:block>
        <div class="card">
          <div class="content">
            <a class="center aligned header" th:href="@{/groups/add}">
              <i class="ui big plus icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
