<div th:fragment="messages">
  <div th:each="e : ${#fields.detailedErrors()}" class="ui negative message">
    <i class="close icon"></i>
    <div class="header" th:text="${e.global}? 'Некорректные данные' : ${'Поле ' + e.fieldName}"></div>
    <p th:text="${e.message}"></p>
  </div>
  <script>
    $(".message .close").on("click", function() {
      $(this)
        .closest(".message")
        .transition("fade");
    });
  </script>
</div>

