<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header>
    <th:block th:fragment="headers">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <link rel="stylesheet" type="text/css" th:href="@{/vendor/fomantic/semantic.min.css}" />
      <script th:src="@{/vendor/jquery/jquery-3.5.0.min.js}"></script>
      <script th:src="@{/vendor/fomantic/semantic.min.js}"></script>
    </th:block>
  </header>
  <body>

  </body>
</html>
