<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="navbar">
      <div class="ui attached inverted menu">
        <div class="ui container">
          <a class="item" th:href="@{/groups}">
            Группы
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
