<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <th:block th:replace="~{fragments/headers :: headers}"></th:block>
    <title>Ошибка сервера</title>
  </head>

  <body>
    <div class="ui container">
        <h1 class="header">Ошибка сервера</h1>
        <div class="ui segment" th:text="${message}"></div>
    </div>
  </body>

</html>