<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/headers :: headers}"></th:block>
    <title>LuckPerms Группы</title>
  </head>

  <body>
    <div th:replace="~{fragments/navigation :: navbar}"></div>
    <!-- <th>Группа</th>
                <th>Право</th>
                <th>Значение</th>
                <th>Сервер</th>
                <th>Мир</th>
                <th>Истекает</th>
                <th>Контекст</th>
                <th>Действия</th> -->

    <div class="ui main container">
      <form
        class="ui form"
        th:action="@{/group_permissions/edit}"
        th:object="${item}"
        method="post"
      >
        <div th:replace="~{ fragments/form_validation :: messages }"></div>
        <input type="hidden" th:field="*{id}" />

        <div class="two fields">
          <div class="field">
            <label>Группа</label>
            <select class="ui dropdown" th:field="*{group}" required>
              <option
                th:each="g: ${groups}"
                th:value="${g.name}"
                th:text="${g.name}"
              ></option>
            </select>
          </div>
          <div class="field">
            <label>Право</label>
            <input type="text" th:field="*{permission}" />
          </div>
          <div class="ui field">
            <div class="ui toggle checkbox">
              <input type="checkbox" th:field="*{value}" />
              <label>Разрешить</label>
            </div>
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Сервер</label>
            <input type="text" th:field="*{server}" />
          </div>
          <div class="field">
            <label>Мир</label>
            <input type="text" th:field="*{world}" />
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Истекает</label>
            <input type="text" th:field="*{expiry}" />
          </div>
          <div class="field">
            <label>Контекст</label>
            <input type="text" th:field="*{contexts}" />
          </div>
        </div>

        <button class="ui submit button" type="submit">Сохранить</button>
      </form>
      <script>
        $('select.dropdown').dropdown()
        $('.ui.checkbox').checkbox()
      </script>
    </div>
  </body>
</html>
