<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <th:block th:replace="~{fragments/headers :: headers}"></th:block>
    <title>LuckPerms Группы</title>
  </head>

  <body>
    <div th:replace="~{fragments/navigation :: navbar}"></div>

    <div class="ui main container">
        <table class="ui compact table">
            <thead>
                <th>Группа</th>
                <th>Право</th>
                <th>Разрешить</th>
                <th>Сервер</th>
                <th>Мир</th>
                <th>Истекает</th>
                <th>Контекст</th>
                <th>Действия</th>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text=${item.group.name}></td>
                    <td th:text=${item.permission}></td>
                    <td>
                      <span class="ui green label" th:if="${item.value}">ДА</span>
                      <span class="ui red label" th:unless="${item.value}">НЕТ</span>
                    </td>
                    <td th:text=${item.server}></td>
                    <td th:text=${item.world}></td>
                    <td th:text=${item.expiry}></td>
                    <td>
                      <span class="ui label" th:text=${item.contexts}></span>
                    </td>
                    <td>
                      <a th:href="@{/group_permissions/edit/{id} (id=${item.id})}"><i class="pen icon"></i></a>
                      <a th:href="@{/group_permissions/delete/{id} (id=${item.id})}"><i class="red x icon"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="ui labeled icon button" th:href="@{/group_permissions/create}">
          <i class="plus icon"></i>
          Добавить
        </a>
    </div>

  </body>

</html>